body {
    background-color: rgb(149, 208, 248);
    --width-pos: 640px;
}

.map-area-calss {
    position: absolute;
    width: calc(var(--width-pos) + 0px);
    top: 1px;
    left: 2px;
    line-height: 0;
}

.child-div-class{
    width: calc(var(--width-pos) + 0px);
}

.toolbox-area-class {
    position: absolute;
    top: 0px;
    left: calc(var(--width-pos) + 20px);
    background-color: rgb(97, 255, 181);
    width: 320px;
    height: 700px;
}

.terr-sel-class{
    position: absolute;
    top: 130px;
}

.val_select_class {
    position: absolute;
    top: 160px;
}

.main-pen-class {
    position: absolute;
    top: 160px;
    left: 135px;
}

.sub-pen-class {
    display:none;
}

.command-xy-class{
    position: absolute;
    top: 195px;
}

.preview-class {
    position: absolute;
    top: 230px;
}

.syringe-class {
    position: absolute;
    top: 270px;
    font-size: 12px;
}

.select-mass-class {
    position: absolute;
    top: 300px;
}

.maptoimage-class {
    position: absolute;
    font-size: 12px;
    top: 465px;
}

.save-area-class {
    position: absolute;
    top: 500px;
    left: 0px;
}

.manual-class {
    position: absolute;
    top: 615px;
}

.credit-class {
    position: absolute;
    top: 645px;
    font-size: 11px;
}