body {
    position: absolute;
    background-color: rgb(149, 208, 248);
    --width-pos: 640px;
    left: -8px;
    top: -8px;
    width : 100%;
}

.map-area-class {
    position: absolute;
    width: calc(var(--width-pos) + 0px);
    top: 1px;
    left: 2px;
    line-height: 0;
}

.child-div-class{
    width: calc(var(--width-pos) + 0px);
}

.toolbox-area-class {
    position: absolute;
    top: 0px;
    left: calc(var(--width-pos) + 20px);
    background-color: rgb(97, 255, 181);
    width: 25%;
    height: 100%;
}

.tool-title{
    font-size: 200%;
}

.headers{
    position: relative;
    top: 0px;
}

.headers button{
    font-size: 12px;
    width: 45%;
}

.terr-sel-class{
    position: relative;
    top: 10px;
}

.terr-sel-class select,option{
    width: 60%;
}

.val_select_class {
    position: relative;
    top: 10px;
}

.main-pen-class {
    position: relative;
    top: 10px;
    left: 0px;
}

.sub-pen-class {
    display:none;
}

.preview-class {
    position: relative;
    top: 20px;
}

.syringe-class{
    position: relative;
    top: 20px;
}
.syringe-class button{
    font-size: 12px;
    width: 70%;
}

.select-mass-class{
    position: relative;
    top: 30px;
}
.select-mass-class button{
    font-size: 12px;
    width: 70%;
}

.select-sub{
    position: relative;
    top: 30px;
}
.select-sub button{
    font-size: 12px;
    width: 20%;
}

.maptoimage-class{
    position: relative;
    top: 40px;
}
.maptoimage-class button{
    font-size: 12px;
    width: 70%;
}

.save-area-class{
    position: relative;
    top: 50px;
}
.save-area-class button{
    font-size: 10px;
    line-height: 2.2;
    width : 40%;
}
.save-area-class input{
    width : 39%;
}

.manual-class {
    position: relative;
    top: 50px;
    font-size: 14px;
}

.credit-class {
    position: relative;
    top: 50px;
    font-size: 11px;
}

.copyright {
    position: relative;
    top: 50px;
    font-size: 11px;
}